<div>
    <div class="createText">Imagem da receita</div>
    <input class="createInput" type="text" name="avatar_url" value="{{chef.avatar_url}}" placeholder="http://">
</div>

<div>
    <div class="createText">Nome</div>
    <input class="createInput" type="text" name="name" value="{{chef.name}}" placeholder="name">
</div>