{% extends "admin/admin_layout.njk" %}

{% block content %}
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <div class="recipeTop">
            <h1>Criando receita</h1>
            <button class="button" type="submit" onclick="PhotosUpload.hasLimit(event)">Salvar receita</button>
        </div>

        {% include "./fields.njk" %}

    </form>
{% endblock %}