{% extends "admin/admin_layout.njk" %}

{% block content %}
    <div class="EditRecipeTop">

        <h1>Criando receita</h1>

        <form method="POST" action="/admin/recipes?_method=DELETE">
            <input  hidden="hidden" value="{{recipe.deletePossibility}}">
            <input hidden="hidden" name="id" value="{{recipe.id}}">
            <button  class="Deletebutton">Deletar</button>
        </form>

        <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">

            <button type="submit" class="button">Salvar receita</button>

        </div>

        {% include "./fields.njk" %}

        <input hidden="hidden" name="id" value="{{recipe.id}}">
    </form>

{% endblock %}